#conteneur {
    margin: 0 auto; 
    width: 1000px;
    box-shadow: 1px 1px 6px;
    background: grey; 
    /* padding: 10px;  */
    /* text-align: center; */
}

header {
    background: #ff4a01;
    padding: 10px;
}

header h1, header img{
    display: inline;
}
header img {
    height: 25px;
}
nav, footer {
    height: 20px;
    background: #4d4d4d;
}
nav a {
    color: #ffff;
    text-decoration: none;
    margin: 0 20px;
}
section{
    padding: 20px;
}