header{
    height: 50px;
    background: #052442;
    text-align: center;
    color: #fff;
}
footer{
    height: 50px;
    background: #353a40;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    }

.mon-conteneur{
    margin-top: 30px;
    min-height: 500px;
    height: 50px;
    background: #052442;
    text-align: center;
    color: #fff;
}    
pre{
    color: #fff;
}